/* -  -  -  -  -  -  -  -  HEADER  -  -  -  -  -  -  -  - */

.encabezado {
	grid-area: header;
	display: block;
	background-color: nth($colores, 2);
	@include tamano(100%, 100%);
	padding: 10px;
	div {
		@include tamano(100%, 100%);
		@include flex(flex, center, center, center);
	}
	img {
		align-items: center;
		text-align: center;
		width: 250px;
		&:hover {
			font-size: nth($font-size, 1);
		}
	}
}

/* -  -  -  -  -  -  -  -  NAV  -  -  -  -  -  -  -  - */

.navegador {
	grid-area: nav;
	@include tamano(100%, 100%);
	background-color: nth($colores, 2);
	ul {
		@include flex(flex, center, space-around, center);
		flex-direction: row;
		@include tamano(50%, 100%);
		list-style: none;
		li {
			@include tamano(75%, 75%);
			@include flex(flex, center, center, center);
			a {
				text-decoration: none;
				font-size: nth($font-size, 2);
				color: nth($colores, 4);
				text-transform: uppercase;
				align-items: center;
				&:hover {
					font-size: nth($font-size, 1);
				}
			}
		}
	}
}
