* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.padding {
	padding: 10px;
}

/* -  -  -  -  -  -  -  -  VARIABLES  -  -  -  -  -  -  -  - */

/*agregado de variables para prefijar los colores y el tamaño de las letras*/
$colores: #fff9e1, #69503c, whitesmoke, black, #5f4633, #69503c, #907761,
	#a4a4a4, #e62e1b;

$font-size: larger, 150%, 48px, 14px, 30px, 28px, 20px, 140%, 20px, 18px, 25px,
	15px, 120%, 36px, 110%, 24px, 11px, 12px, 80%, 25%, 8px;

/* -  -  -  -  -  -  -  -  MIXIN  -  -  -  -  -  -  -  - */

@mixin flex($flex, $items, $content, $align) {
	display: $flex;
	align-items: $items;
	justify-content: $content;
	align-items: $align;
}

@mixin tamano($height, $width) {
	height: $height;
	width: $width;
}

/* -  -  -  -  -  -  -  -  FORM  -  -  -  -  -  -  -  - */

.formul {
	padding: 10px;
}

.needs-validation {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.form-row {
	display: flex;
	flex-direction: column;
	width: 100%;
	input {
		width: 200px;
	}
}

.btn-primary {
	margin: 10px;
}

/* -  -  -  -  -  -  -  -  CARUSEL  -  -  -  -  -  -  -  - */

.color {
	background-color: nth($colores, 4);
	@include tamano(40px, 70px);
}

.carusel {
	margin: 0;
	@include tamano(600px, 100%);
	img {
		@include tamano(600px, 100%);
		aspect-ratio: 2 / 1;
		object-position: center;
	}
}

/* -  -  -  -  -  -  -  -  CATALOGO  -  -  -  -  -  -  -  - */

.catalogo {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 110px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 300px;
	align-items: center;
	gap: 10%;
	div {
		@include tamano(100%, 100%);
		position: relative;
		img {
			@include tamano(100%, 100%);
			aspect-ratio: 1 / 1;
		}
		h2 {
			@include flex(flex, center, center, center);
			visibility: hidden;
			@include tamano(20%, 100%);
			position: absolute;
			bottom: 0;
			text-transform: capitalize;
			font-size: nth($font-size, 1);
			color: nth($colores, 3);
			background-color: rgba(0, 0, 0, 0.651);
		}
		&:hover { /*se vuelve visible al pasarle el puntero por arriba*/
			h2 {
				visibility: visible;
			}
		}
	}
}

.catalogo-item { /*fondo de sombra para que parezca que esta por arriba del documento*/
	-webkit-box-shadow: 14px 20px 37px -1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 14px 20px 37px -1px rgba(0, 0, 0, 0.8);
	box-shadow: 14px 20px 37px -1px rgba(0, 0, 0, 0.8);
}

/* -  -  -  -  -  -  -  -  GRID  -  -  -  -  -  -  -  - */

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px 75px auto 583px;
	grid-template-areas:
		"header header header"
		"nav nav nav"
		"main main main"
		"footer footer footer";
	margin: 0 auto;
	background-color: nth($colores, 3);
}

.grid-container2 { /*grid para la solapa locales, para tener el aside configurado*/
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 75px 569px auto;
	grid-template-areas:
		"header header header header"
		"nav nav nav nav"
		"main main aside aside"
		"footer footer footer footer";
	margin: 0 auto;
	background-color: nth($colores, 3);
}

/* -  -  -  -  -  -  -  -  ASIDE  -  -  -  -  -  -  -  - */

.aside {
	grid-area: aside;
	iframe {
		height: 100%;
		width: 100%;
	}
}

.linkeos {
	ul {
		height: 75%;
		display: flex;
		align-items: center;
		flex-direction: column;
		li {
			width: 90%;
			height: 20%;
			display: flex;
			align-items: center;
			a {
				color: nth($colores, 4);
				font-size: nth($font-size, 3);
			}
		}
	}
}