@media (max-width: 1300px) {
	.grid-container {
		grid-template-rows: 200px auto 502px;
	}
	.grid-container2 {
		grid-template-rows: 200px 65.6vh auto;
	}
	.navegador {
		ul {
			li {
				a {
					font-size: nth($font-size, 8);
				}
			}
		}
	}
	.texto-banner {
		h2 {
			font-size: nth($font-size, 9);
		}
		p {
			font-size: nth($font-size, 10);
		}
	}
	.banner-izquierdo {
		div {
			img {
				object-fit: fill;
			}
		}
	}
	.banner-derecho {
		div {
			img {
				object-fit: fill;
			}
		}
	}
	.pie {
		h2 {
			font-size: nth($font-size, 5);
		}
		h3 {
			font-size: nth($font-size, 11);
		}
	}
	.img-footer {
		img {
			height: 100%;
			width: 200px;
		}
	}
	.item-locales {
		height: 150px;
		width: 20%;
		p {
			font-size: nth($font-size, 12);
		}
		img {
			align-items: center;
			text-align: center;
			width: 10%;
		}
	}
	.redes {
		img {
			width: 30px;
		}
	}
	.publicidad {
		a {
			font-size: nth($font-size, 12);
		}
	}
	.catalogo {
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		div {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}
	.principal {
		li {
			a {
				font-size: nth($font-size, 5);
			}
		}
	}
	.imagen_info {
		div {
			font-size: nth($font-size, 9);
		}
	}
}

@media (max-width: 1000px) {
	.grid-container {
		grid-template-rows: 150px auto 502px;
	}
	.grid-container2 {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 150px 655px auto;
		grid-template-areas:
			"header header"
			"main aside"
			"footer footer";
	}
	.encabezado {
		div {
			img {
				width: 200px;
			}
		}
	}
	.navegador {
		ul {
			li {
				a {
					font-size: nth($font-size, 13);
				}
			}
		}
	}
	.foto-inicial {
		height: 300px;
		h1 {
			font-size: nth($font-size, 14);
		}
	}
	.banner {
		width: 80%;
	}
	.texto-banner {
		h2 {
			font-size: nth($font-size, 16);
		}
		p {
			font-size: nth($font-size, 4);
		}
	}
	.principal {
		li {
			a {
				font-size: nth($font-size, 12);
			}
		}
	}
	.imagen_info {
		img {
			padding-top: 20px;
			width: 40%;
		}
	}
	.pie {
		display: block;
		h2 {
			font-size: nth($font-size, 16);
		}
	}
	.item-locales {
		h3 {
			font-size: nth($font-size, 10);
		}
	}

	.publicidad {
		height: 20%;
	}
}

@media (max-width: 720px) {
	.grid-container {
		grid-template-rows: 150px auto 502px;
	}
	.grid-container2 {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 150px 50vh 50vh auto;
		grid-template-areas:
			"header header"
			"main main"
			"aside aside"
			"footer footer";
	}
	.encabezado {
		div {
			height: 50%;
			img {
				width: 150px;
			}
		}
	}
	.navegador {
		height: 50%;
		align-items: center;
		ul {
			width: 100%;
			height: 100%;
			li {
				a {
					font-size: nth($font-size, 15);
				}
			}
		}
	}
	.foto-inicial {
		height: 250px;
		h1 {
			font-size: nth($font-size, 16);
		}
	}
	.texto-banner {
		h2 {
			font-size: nth($font-size, 17);
		}
		p {
			font-size: nth($font-size, 18);
		}
	}
	.pie {
		h2 {
			font-size: nth($font-size, 7);
		}
		h3 {
			font-size: nth($font-size, 7);
		}
	}
	.img-footer {
		img {
			height: 100%;
			width: 200px;
		}
	}
	.item-locales {
		p {
			font-size: nth($font-size, 10);
		}
		img {
			width: 10%;
		}
	}
	.redes {
		img {
			width: 25px;
		}
	}
	.publicidad {
		a {
			font-size: nth($font-size, 12);
		}
	}
	.catalogo {
		grid-template-columns: 1fr;
		grid-auto-rows: 400px;
		gap: 10px;
	}
	.catalogo-item {
		margin: 0 auto;
	}
	.imagen_info {
		img {
			width: 60%;
		}
		div {
			font-size: nth($font-size, 7);
		}
	}
	.tituloh1 {
		font-size: nth($font-size, 5);
	}
	.principal {
		ul {
			li {
				width: 50%;
				a {
					font-size: nth($font-size, 7);
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.item-locales {
		h3 {
			font-size: nth($font-size, 17);
		}
		p {
			font-size: nth($font-size, 17);
		}
		img {
			width: 10px;
		}
	}
}

@media (max-width: 500px) {
	.grid-container {
		grid-template-rows: 75px auto 500px;
	}
	.grid-container2 {
		grid-template-rows: 75px 450px 500px auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"main"
			"aside"
			"footer";
	}


	.encabezado {
		div {
			visibility: collapse;
			height: 0;
		}
	}
	.navegador {
		align-items: center;
		height: 100%;
		ul {
			li {
				a {
					font-size: nth($font-size, 19);
				}
			}
		}
	}
	.foto-inicial {
		width: 100%;
		height: 250px;
		h1 {
			font-size: nth($font-size, 12);
		}
	}
	.banner {
		height: 200px;
		width: 80%;
	}
	.texto-banner {
		h2 {
			text-transform: uppercase;
			text-align: center;
			font-size: nth($font-size, 17);
		}
		p {
			font-size: nth($font-size, 17);
		}
	}

	.pie {
		img {
			width: 25%;
			padding: 3px;
		}
		h2 {
			font-size: nth($font-size, 7);
		}
		h3 {
			font-size: nth($font-size, 7);
		}
		p {
			font-size: nth($font-size, 17);
		}
	}
	.redes {
		img {
			width: 30px;
		}
	}
	.catalogo {
		grid-auto-rows: 400px;
		gap: 15px;
	}

	.imagen_info {
		img {
			width: 50%;
			padding: 2px;
		}
		div {
			font-size: nth($font-size, 18);
		}
	}
	.img-footer {
		img {
			width: 150px;
		}
	}
	.tituloh1 {
		font-size: nth($font-size, 9);
	}
	.item-locales {
		h2 {
			font-size: 10px;
		}
		h3 {
			font-size: 10px;
		}
	}
}

@media (max-width: 350px) {
	.encabezado {
		div {
			visibility: collapse;
		}
	}
	.navegador {
		ul {
			li {
				a {
					font-size: nth($font-size, 4);
				}
			}
		}
	}
}
